@import url('https://fonts.googleapis.com/css?family=Lobster');
@import url(http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css);

html {
  font-family: Lato, 'Helvetica Neue', Arial, Helvetica, sans-serif;
  font-size: 14px;
}

body {
  background-color: #d4e5f6;
}

/* ================================================================ */
/* 5 column bootstrap styling */
.col-xs-15,
.col-sm-15,
.col-md-15,
.col-lg-15 {
  position: relative;
  min-height: 1px;
  padding-right: 10px;
  padding-left: 10px;
}
.col-xs-15 {
  width: 20%;
  float: left;
}

@media (min-width: 768px) {
  .col-sm-15 {
    width: 20%;
    float: left;
  }
}

@media (min-width: 992px) {
  .col-md-15 {
    width: 20%;
    float: left;
  }
}

@media (min-width: 1200px) {
  .col-lg-15 {
    width: 20%;
    float: left;
  }
}
/* ================================================================ */
/* Navbar Styling */
.navbar-brand { padding: 0px; }
.navbar-brand>img {
  height: 100%;
  width: auto;
}

.dropdown-toggle {
  font-family: 'Lobster', cursive;
  font-size: 25px;
}

.navbar-brand,
.navbar-nav .dropdown-toggle {
  line-height: 150px;
  height: 90px;
  padding-top: 0;
}

.navbar-default {
  background-color: #94bfe9;
  border-color: #85abd1;
  font-weight: bold;
}
.navbar-default .navbar-brand {
  color: #2a672e;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #ecf3d1;
}
.navbar-default .navbar-text {
  color: #2a672e;
}
.navbar-default .navbar-nav > li > a {
  color: #2a672e;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #4c864f;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #ecf3d1;
  background-color: #ef6c52;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #ecf3d1;
  background-color: #ef6c52;
}
.navbar-default .navbar-toggle {
  border-color: #ef6c52;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #ef6c52;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #2a672e;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #2a672e;
}
.navbar-default .navbar-link {
  color: #2a672e;
}
.navbar-default .navbar-link:hover {
  color: #ecf3d1;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #2a672e;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #ecf3d1;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #ecf3d1;
    background-color: #ef6c52;
  }
}

/* ================================================================ */
/* Material Design */
.col-item {
  border: 1px solid #E1E1E1;
  background: #FFF;
  box-shadow: 0px 2px 5px -1px #9b9b9b;
  -moz-box-shadow: 0px 2px 5px -1px #9b9b9b;
  -webkit-box-shadow: 0px 2px 5px -1px #9b9b9b;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 10px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;   
  border-bottom:2px solid #52A1D5;
}
.col-item:hover { 
  box-shadow: 0px 2px 5px -1px #000;
  -moz-box-shadow: 0px 2px 5px -1px #000;
  -webkit-box-shadow: 0px 2px 5px -1px #000;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 10px;   
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;   
  border-bottom:2px solid #52A1D5;        
}
.col-item .photo img {
  margin: 0 auto;
  width: 100%;
  padding: 1px;
  border-radius: 10px 10px 0 0 ;
}

.col-item .info {
  padding: 10px;
  border-radius: 0 0 5px 5px;
  margin-top: 1px;
}

.col-item .price {
  /*width: 50%;*/
  float: left;
  margin-top: 5px;
}

.col-item .price h5 {
  line-height: 20px;
  margin: 0;
}

.price-text-color {
  color: #333;
}

.col-item .info .rating {
  color: #777;
}

.col-item .rating {
  /*width: 50%;*/
  float: left;
  font-size: 17px;
  text-align: right;
  line-height: 52px;
  margin-bottom: 10px;
  height: 52px;
}

.col-item .separator  {
  border-top: 1px solid #E1E1E1;
  color: #219FD1;
}

.clear-left {
  clear: left;
}

.col-item .separator p {
  line-height: 20px;
  margin-bottom: 0;
  margin-top: 10px;
  text-align: center;
}

.col-item .separator p i {
  margin-right: 5px;
}
.col-item .btn-add {
  width: 50%;
  float: left;
}

.col-item .btn-add {
  border-right: 1px solid #E1E1E1;  
}

.col-item .btn-details {
  width: 50%;
  float: left;
  padding-left: 10px;
}
.controls {
  margin-top: 20px;
}
[data-slide="prev"] {
  margin-right: 10px;
}

/* Hover the image */
.post-img-content {
  height: 196px;
  position: relative;
}
.post-img-content-sm {
  height: 100px;
  position: relative;
}
.post-img-content img, .post-img-content-sm img {
  position: absolute;
  padding: 1px;
  border-radius: 10px 10px 0 0 ;
}
.post-title {
  display: table-cell;
  vertical-align: bottom;
  z-index: 2;
  position: relative;
}
.post-title b {
  background-color: rgba(51, 51, 51, 0.58);
  display: inline-block;
  margin-bottom: 5px;
  margin-left: 2px;
  color: #FFF;
  padding: 10px 15px;
  margin-top: 10px;
  font-size: 12px;
}
.post-title b:first-child {
  font-size: 14px;
}
.round-tag {
  width: 60px;
  height: 60px;
  border-radius: 50% 50% 0 50%;
  border: 4px solid #F9F7D8;
  background: #357940;
  position: absolute;
  right: 0px;
  bottom: 0px;
  padding: 15px 6px;
  font-size: 17px;
  color: #FFF;
  font-weight: bold;
}

.card-img-top {
  width: 100%;
  height: 200px;
  object-fit: contain;
  background-color: #edf4fb;
}

.card-img-top-sm {
  width: 100%;
  height: 100px;
  object-fit: contain;
  background-color: #edf4fb;
}

/* ================================================================ */
/* Extra Styling */
.moodStyle { background-color: #ff1744; } /* red */
.nerveStyle { background-color: #ffea00; } /* yellow */
.mindStyle { background-color: #e040fb; } /* purple */
.voidStyle {
  color: #fff;
  background-color: #2e2e2e;
} /* black */
.zealStyle { background-color: #1de9b6; } /* teal */
.physicalStyle { background-color: #ff9100; } /* orange */

tr td:first-child {
  font-weight: bold;
}

#middleLayer { z-index: -1; }
#bottomLayer { z-index: -2; }
.sugarCubeItem > .card-img-top, .commonItem > .card-img-top-sm { background-color:#ff4444; } /* red */
.jellyBeanItem > .card-img-top, .uncommonItem > .card-img-top-sm { background-color:#ffbb33; } /* yellow */
.cookieItem > .card-img-top, .rareItem > .card-img-top-sm { background-color:#00C851; } /* green */
.puddinItem > .card-img-top { background-color:#33b5e5; } /* teal */
.cupcakeItem > .card-img-top { background-color:#4285F4; } /* blue */
